@model CrowdFunding.Models.LoginModel
@{
    ViewBag.Title = "My CrowdFunding Todo Lists";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div id="main-content" data-ng-app="angelikoo" >
    @*<div data-ng-include="'/FrontEndViews/Shell'"></div>*@
    <div data-ng-include="'/app/shell.html'"></div>
    
    @if (@User.Identity.IsAuthenticated)
    {
        // @@@ show authenticated gui 
    }
    else
    {
        //@Html.Partial("_Authentication")
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />      
}

<div style="display: none;">
@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/breeze")
    @Scripts.Render("~/bundles/angelikoo")
}
</div>